{% extends 'secondary.twig' %}

{% block affichageFichiers %} 



    <ul>
    {% for affichageFichier in liste %}

        {% if affichageFichier.isDir == true %}
            <li><a href="{{affichageFichier.fichier}}" > <img src="media/{{affichageFichier.fichier}}.svg">{{affichageFichier.fichier}}</a></li>
        {% else %}

        <li><a href="{{affichageFichier.fichier}}" > <img src="media/{{affichageFichier.extension}}.svg"> {{affichageFichier.fichier}} - {{affichageFichier.extension}}</a></li>
        {% endif %}

    {% endfor %}
    </ul>
{% endblock %}