{% extends 'layout.twig' %}


{% block title %}
<title>Explorateur de fichiers</title>


{% endblock %}

{% block header %} 
<h1 class="text-center">Explorateur de fichiers</h1>
{% endblock %}

{% block realpatch %}

{{ realpath }}

{% endblock %}


{% block bouton %}

<button class="btnBack" onclick="history.go(-1);"><i class="fas fa-chevron-circle-left"></i></button>
<button class="btnBack" onclick="history.go(1);"><i class="fas fa-chevron-circle-right"></i></button>


{% endblock %}



{% block nav %}
    {% for affichageFichier in listeDossier %}

        {% if affichageFichier.isDir == true %}
            <a href="?dossier={{affichageFichier.fichier}}" class="pl-2 pr-2"> <img width="70px" height="70px"  src="media/{{affichageFichier.fichier}}folder.png" ></a>
        {% endif %}

    {% endfor %}

    {% for affichageFichier in listeFichier %}

        {% if affichageFichier.isDir == false %}
            <a href="#" class="pl-2 pr-2"> <img width="70px" height="70px"  src="media/{{affichageFichier.extension}}.svg">
            <br>{{affichageFichier.fichier}} </a>
        {% endif %}

    {% endfor %}
{% endblock %}

{% block content %}

{% endblock %}